<template>
  <b-row>
    <b-col cols="12">
      <h2>
        Create new tag
        <router-link :to="{ name: 'ListTable', params: { table: tablename }  }">({{ tablename }} List)</router-link>
      </h2>
      <b-form @submit="onSubmit">
        <div v-for="(value, key) in rowatts" :key="key">
          <div v-if="value.language === undefined">
            <b-form-group id="fieldsetHorizontal"
                      horizontal
                      :label-cols="4"
                      breakpoint="md"
                      :label="key">
              <b-form-input :id="key" :disabled="value.disabled" :state="null" v-model.trim="row[key]"></b-form-input>
            </b-form-group>
          </div>
          <div v-else>
            <b-form-group id="fieldsetHorizontal"
                      horizontal
                      :label-cols="4"
                      breakpoint="md"
                      :label="key">
                <b-form-textarea id="description"
                           v-model="row[key]"
                           placeholder="Enter something"
                           :rows="2"
                           :max-rows="6">{{row[key]}}</b-form-textarea>
            </b-form-group>
          </div>
        </div>
        <b-button type="submit" variant="primary">Update</b-button>
      </b-form>
      <b-form >
        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Server messages">
          <b-form-input id="errors" :state="null" v-model.trim="errors"></b-form-input>
        </b-form-group>
      </b-form>
    </b-col>
  </b-row>
</template>

<script>

import axios from 'axios'

export default {
  name: 'CreateRow',
  data () {
    return {
      row: {
        v: 1
      },
      errors: [],
      tablename: '',
      rowatts: {}
    }
  },
  created () {
    this.tablename = this.$route.params.table
    this.rowatts = this.$route.params.infotable
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()

      let genericProp = ''

      if (this.row.hasOwnProperty('tag')) {
        genericProp = 'tag'
      } else if (this.row.hasOwnProperty('appl')) {
        genericProp = 'appl'
      }

      axios.get(`/` + this.tablename + `/find/` + this.row[genericProp])
        .then(response => {
          if (response.data.count === 0) {
            return axios.post(`/` + this.tablename, this.row)
          } else {
            throw new Error(genericProp + ' already exists! Update it or change its name.')
          }
        }).then(response => {
          this.$router.push({
            name: 'ShowRow',
            params: { table: this.tablename, id: response.data._id }
          })
        })
        .catch(e => {
          this.errors.push(e)
        })
    }
  }
}
</script>
