<template>
  <b-row>
    <b-col cols="12">
      <h2>
        Edit {{ tablename }}

        <router-link v-if="row._id !== null" :to="{ name: 'ShowRow', params: { table: tablename, id: row._id } }">(Show this entry)</router-link>
      </h2>
      <b-form @submit="onSubmit">
        <div v-for="(value, key) in rowatts" :key="key">
          <div v-if="value.language === undefined">
            <b-form-group id="fieldsetHorizontal"
                      horizontal
                      :label-cols="4"
                      breakpoint="md"
                      :label="key">
              <b-form-input :id="key" :disabled="!value.edit" :state="null" v-model.trim="row[key]"></b-form-input>
            </b-form-group>
          </div>
          <div v-else>
            <b-form-group id="fieldsetHorizontal"
                      horizontal
                      :label-cols="4"
                      breakpoint="md"
                      :label="key">
                <b-form-textarea id="description"
                           v-model="row[key]"
                           placeholder="Enter something"
                           :rows="10"
                           :max-rows="20">{{row[key]}}</b-form-textarea>
            </b-form-group>
          </div>
        </div>
        <b-button type="submit" variant="primary">Update</b-button>
      </b-form>
    </b-col>
  </b-row>
</template>

<script>

import axios from 'axios'

export default {
  name: 'EditRow',
  data () {
    return {
      row: { _id: null },
      rowatts: {},
      tablename: ''
    }
  },
  created () {
    this.tablename = this.$route.params.table
    axios.get(`/` + this.tablename + `/` + this.$route.params.id)
      .then(response => {
        this.row = response.data.row
        this.rowatts = response.data.infotable
        if (this.row.hasOwnProperty('tag')) {
          return axios.get(`/` + this.tablename + `/lastv/` + this.row.tag)
        } else if (this.row.hasOwnProperty('appl')) {
          return axios.get(`/` + this.tablename + `/lastv/` + this.row.appl)
        } else {
          throw new Error('No app or tag field available.')
        }
      }).then(response1 => {
        this.row.v = response1.data.lastv + 1
      })
      .catch(e => {
        this.errors.push(e)
      })
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      // axios.put(`http://localhost:3000/sconfig/` + this.$route.params.id, this.sconfig)
      //   .then(response => {
      //     this.$router.push({
      //       name: 'ShowSConfig',
      //       params: { id: this.$route.params.id }
      //     })
      //   })
      //   .catch(e => {
      //     this.errors.push(e)
      //   })
      // Instead of updating the previous configuration we create a new one in the DB
      let newrow = {}
      for (var property in this.rowatts) {
        if (this.rowatts.hasOwnProperty(property)) {
          newrow[property] = this.row[property]
        }
      }
      axios.post(`/` + this.tablename, newrow)
        .then(response => {
          this.$router.push({
            name: 'ShowRow',
            params: { table: this.tablename, id: response.data._id }
          })
        })
        .catch(e => {
          this.errors.push(e)
        })
    }// ,
    // IsJsonString () {
    //   try {
    //     JSON.parse(this.sconfig.machines)
    //   } catch (e) {
    //     console.log('BAD')
    //     this.jstate = 'invalid'
    //     return false
    //   }
    //   console.log('GOOD')
    //   this.jstate = 'valid'
    //   return true
    // }
  }
}
</script>
