<template>
  <b-row align-h="center">
    <b-col cols="10">
      <h2>
        {{ tablename }} List
        <router-link :to="{ name: 'CreateRow', params: { table: tablename, infotable: infotable }  }">(Add row in {{ tablename }})</router-link>
      </h2>
      <b-form-checkbox id="allVersionCheck"
                     v-model="allVersions"
                     @change="toggleAll">
      Show all versions
      </b-form-checkbox>

      <br/>

      <div v-if="table_params.searchColumns.length > 0">
        <b-row align-v="center" align-h="start">
          <b-col v-for="col in table_params.searchColumns" :key="col">
            <div class="field is-grouped">
              <div class="control">
                <div class="label">{{col}}</div>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" v-model="search_ids[col]" >
              </div>
            </div>
          </b-col>
          <b-col>
            <div>
              <button type="button" class="btn btn-primary" v-on:click="searchAction">
                Query
              </button>
            </div>
          </b-col>
        </b-row>
        <div v-if="tablename === 'runinfo'">
          <div>
            Single run '_id' = 12345. Range runs: '_id' = 12345-54321
          </div>
        </div>
      </div>

      <br/>

      <div>
        <table class="display responsive compact" id="cool-table" width="100%"></table>
      </div>
    </b-col>
  </b-row>
</template>

<script>

import axios from 'axios'

export default {
  name: 'TableList',
  data () {
    return {
      fields: {},
      tablename: '',
      allVersions: false,
      table: null,
      table_params: {
        serverSide: true,
        ajax: {
          url: '',
          type: 'POST'
        },
        deferRender: true,
        columns: [],
        searchColumns: [],
        order: [[0, 'desc']],
        pageLength: 25,
        dom: 'lrtip'
      },
      // rows: [],
      errors: [],
      infotable: {},
      search_ids: {},
      tbCampList: []
    }
  },

  created () {
    this.tablename = this.$route.params.table
    this.table_params.ajax.url = '/' + this.tablename + '/getRows'

    axios.get(`/` + this.tablename + `/`)
      .then(response => {
        // this.rows = response.data.rows
        this.infotable = response.data.infotable
        for (let property in this.infotable) {
          if (this.infotable.hasOwnProperty(property)) {
            if (this.infotable[property].hasOwnProperty('sortable')) {
              this.fields[property] = {
                label: property,
                sortable: this.infotable[property].sortable,
                'class': 'text-center',
                searchable: true
              }
              let column = {
                data: property,
                name: property,
                title: property,
                'defaultContent': '<i>Not set</i>'
              }
              if (this.infotable[property].hasOwnProperty('date')) {
                column.render = this.parseEpochToDate
              }
              this.table_params.columns.push(column)
            }
            if (this.infotable[property].hasOwnProperty('search')) {
              this.table_params.searchColumns.push(property)
            }
          }
        }
        this.table_params.columns.push({
          'data': null,
          'render': function (data, type, row) {
            return '<button class="detailsButton" id="' + data['_id'] + '">Details</button>'
          }
        })
        this.fields.actions = { label: 'Action', 'class': 'text-center' }
        this.reloadTable()

        for (let col of this.table_params.searchColumns) {
          this.search_ids[col] = ''
        }
      })
      .catch(e => {
        console.log('Error')
        this.errors.push(e)
      })
  },

  methods: {

    coolDetails (newid) {
      this.$router.push({
        name: 'ShowRow',
        params: { table: this.tablename, id: newid }
      })
    },

    toggleAll () {
      // We invert the logic of the values (!this.allVersions) because onchange event
      // is launched before the toggling of the value.
      // It seems that inverting is not required anymore on:
      // - Mac, firefox v86.0

      // if (!this.allVersions) {
      if (this.allVersions) {
        this.table.ajax.url(`/` + this.tablename + `/all/`).load()
      } else {
        this.table.ajax.url(`/` + this.tablename + `/getRows/`).load()
      }
    },

    reloadTable () {
      this.table = $('#cool-table').DataTable(this.table_params)
      $('#cool-table tbody').on('click', '.detailsButton', (myobject) => {
        this.coolDetails(myobject.target.id)
      })
    },

    parseEpochToDate (data, type, row) {
      if (type === 'display' || type === 'filter') {
        return new Date(data).toLocaleString('en-GB', {timeZoneName: 'short'})
      }
      // Leaving the timestamp as integer for sort and type
      return data
    },

    // This function is called to trigger the search on the table.
    searchAction () {
      // Apply the filters in the columns
      for (let col in this.search_ids) {
        this.table
          .column(col + ':name')
          .search(this.search_ids[col])
      }
      this.table.draw()
    }

  }

}
</script>
