<template>
  <b-navbar toggleable="md" type="dark" variant="info">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-collapse is-nav id="nav_collapse">
      <b-navbar-nav>
        <b-nav-item to="/list/sconfig">Services Configs</b-nav-item>
        <b-nav-item to="/list/runkey">Run keys</b-nav-item>
        <b-nav-item to="/list/appconfig">Applications Configs</b-nav-item>
        <b-nav-item to="/list/tbcamp">Testbeam Campaign</b-nav-item>
        <b-nav-item to="/list/tablepos">Table Position</b-nav-item>
        <b-nav-item to="/list/runinfo">Run Info</b-nav-item>
        <b-nav-item to="/list/psconfig">Power Supply Config</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  name: 'navbar'
}
</script>

<style>
</style>
