<template>
  <b-row>
    <b-col cols="12">
      <h2>
        Edit {{ tablename }}
        <router-link :to="{ name: 'ListTable', params: { table: tablename }  }">({{ tablename }} List)</router-link>
      </h2>
      <b-jumbotron>
        <template slot="header">
          {{row.tag}}
        </template>
        <b-btn variant="success" @click.stop="editrow(row._id)">Edit</b-btn>
        <!-- <b-btn variant="danger" disabled @click.stop="deleterow(row._id)">Delete</b-btn> -->
        <b-btn variant="danger" @click.stop="deleterow(row._id)">Delete</b-btn>

        <div>
          <table class="table table-bordered table-hover">
            <tbody>
              <tr v-for="(value, key) in rowatts" :key="key">
                <th class="text-center">{{key}}</th>
                <td class="text-left" v-if="value.language === undefined">{{row[key]}}</td>
                <td v-else><pre v-highlightjs="row[key]" style="text-align:left"><code class="value.language"></code></pre></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div v-if="tablename.includes('runkey')">
          {{ links }}
        </div>
      </b-jumbotron>
    </b-col>
  </b-row>
</template>

<script>

import axios from 'axios'
// import _ from 'lodash'

export default {
  name: 'ShowRow',
  data () {
    return {
      row: {},
      rowatts: {},
      tablename: '',
      errors: [],
      links: ''
    }
  },
  created () {
    this.tablename = this.$route.params.table
    axios.get(`/` + this.tablename + `/` + this.$route.params.id)
      .then(response => {
        this.row = response.data.row
        this.rowatts = response.data.infotable
        if ('applications' in this.rowatts) {
          console.log('CIAOOOO')
          axios.post('/appconfig/getAppIds', {'applist': this.row['applications']}).then(response => {
            console.log(response)
          })
        }
      })
      .catch(e => {
        this.errors.push(e)
      })
  },
  methods: {
    editrow (rowid) {
      this.$router.push({
        name: 'EditRow',
        params: { table: this.tablename, id: rowid }
      })
    },
    deleterow (rowid) {
      axios.delete(`/` + this.tablename + `/` + rowid)
        .then((result) => {
          this.$router.push({
            name: 'ListTable',
            params: { table: this.tablename }
          })
        })
        .catch(e => {
          this.errors.push(e)
        })
    }
  }
}
</script>

<style>
  .jumbotron {
    padding: 2rem;
  }
</style>

<style lang="scss">
@import '~highlight.js/styles/base16/solarized-dark'
</style>
